.aHead{
    width: 100%;
    margin-bottom: 20px;
   
}

.aboutTop{
    border-bottom: @terminalGreen 1px solid;
    margin-bottom: 20px;
    margin: 0 20px;
}
.aboutMiddle{
    text-align: center;
    div{
        margin: 20px 0px;
        img{
            width: 25%;
            
        }
        h2, h3, p{
            margin: 10px;
        }
        h3{
            font-size: 2rem;
           
        }
        
    }
        @media @desktop{
            .flex(row, space-around, center, wrap);
     
            .techLead{
                width: 100%;
            }
            .ui, .frontEnd1, .frontEnd2, .backEnd{
                width: 40%;
            }
        
        }
    


}